<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>redIIIsun's blog</title>
</head>
<body>
    <div> <p><a href="" ></a><img src="" alt="Типа заcтавка"></p>

        </div>
        <h1>Мой первый блог на Джанге</h1>
         <div>

               {% for post in posts %}
                  <ul><li>
                      <div>
                        <p>published: {{ post.published_date }}</p>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                       </div>
                  </li></ul>
               {% endfor %}

         </div>
</body>
</html>

