<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>redIIIsun's blog</title>
</head>
<body>
    <div> <p><a href="https://photos.app.goo.gl/HyxNif7kPScRpJB88" ></a><img src="" alt="Типа заcтавка"></p>

        </div>
        <h1>Мой первый блог на Джанге</h1>
         <div>
           <ul><li> <h3><a href="">Мой первый пост</a></h3>
             <p><em><strong>published:</strong> 03.08.2021, 13:08</em></p>
            <p>Если ты хочешь узнать больше об администрировании Django...</p></li>

            <li><h3><a href="">Мой второй пост</a></h3>
            <p><em><strong>published:</strong> 03.08.2021, 13:10</em></p>
            <p>Git (система контроля версий) — один из главных инструментов в арсенале любого разработчика. </p></li></ul>
         </div>
</body>
</html>